/* 模态框 */
/*
 * @Author: EmmanuelAgui 
 * @Date: 2021-10-27
 * @Last Modified by: EmmanuelAgui 
 * @Last Modified time: 2021-10-27
 */
 .modal > * {
     /* 默认隐藏 */
     /* 关闭按钮的位置是在外层容器边缘以外的，
     所以千万不要把外层 tt-modal-wrap 元素设置成“overflow: hidden;”
     那样关闭按钮就会被隐藏掉了。 */
    /* overflow: hidden; */
    opacity: 0;
    max-height: 0;
  }

  .modal.show > * {
    display: block;
    opacity: 1;
    max-height: 10000px;
  }

/* 模态框窗口容器 */
.modal > .modal-wrap{
    position: absolute;
    width: 75%;
    max-width: 480px;
    top: 45%;
    /* 使用transform对窗口容器做位移 */
    transform: translateY(-77%) scale(0.2, 0.2);
    left: 0;
    right: 0;
    margin: auto;
    background: #fff;
    border-radius: .4rem;
    z-index:301;
    transition: all .3s ease;
}



.modal.show > .modal-wrap{
    /* max-height: 90%; */
    /* overflow: auto; */
    -webkit-transform: translateY(-50%) scale(1,1);
    transform: translateY(-50%) scale(1,1);
}


/* 模态框内容区 */
.modal .modal-body{
    padding: 1.8rem .8rem 1.5rem;
    text-align: center;
    font-size: .8rem;
    line-height: 1.2rem;
    overflow: hidden;
}
/* 控制模态框内容区的内边距 */
.modal .modal-body.no-padding{
    padding: 0;
}

/* 模态框尾部 */
.modal .modal-footer{
    display: flex;
    border-top: 1px solid #ddd;
}
/* 模态框尾部按钮的样式 */
.modal .modal-footer .btn{
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: .8rem;
}
/* 模态框尾部中的按钮加上分隔 */
.modal .modal-footer .btn + .btn{
    border-left:  1px solid #ddd;
}

/* 图片形式的模态框样式 */
.modal .modal-body .modal-img{
    display: block;
    width: 100%;
    border-radius: .3rem;
}
/* 纯图片模态框里的关闭按钮 */
.modal .modal-close{
    position: absolute;
    left: 0;
    right: 0;
    width: 1.3rem;
    line-height: 1.3rem;
    margin: auto;
    bottom: -3rem;
    text-align: center;
    font-size: .8rem;
    font-weight: 100;
    color: #eee;
    border: 1px solid #eee;
    border-radius: 50%;
}